@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
      font-family: 'Cormorant Garamond', serif;
}

a {
    font-size: 23px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    
}

a:hover {
    opacity: 0.8;
    transform: scale(1.10);
}


/* home do header / navbar */
.logo {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  height: 9vh;
  padding: 0 50px; 
  border-bottom: solid 0.5px #ffffffaf;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center; 
}

.nav-list li {
  margin: 0 25px;
  letter-spacing: 3px;
}

.nav-action {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.nav-img {
  width: 65px;
  height: auto;
}  

.nav-list li:last-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-button {
    font-size: 23px;
    font-family: Cormorant Garamond;
    background-color: rgb(51, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 10px;
    transition: 0.3s;
    border: none;
}    

.nav-button:hover {
    transform: scale(1.10);
    box-shadow: 0 0 12px rgba(126, 0, 0, 0.5);
}    

/* fim navbar */

main {
    background-color: black;    
}        

.home-section {
  position: relative;    
  min-height: 100vh;
  overflow: hidden;
}    

.home-bg {
  position: absolute;    
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}    

.home-content {
  position: relative;    
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 25vh;
}   

.home-content img {
  margin-top: -70px; /* sobe a imagem */
}

.home-bg,
.gradiente{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  object-fit: cover;
}

.gradiente{
  z-index: 2;
  pointer-events: none; 
}

.mundo-content {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  padding-top: 20vh;
}

.mundo-section {
  position: relative;    
  min-height: 100vh;
  overflow: hidden;
}    

.mundo-bg {
  position: absolute;    
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}    

.mundo-content {
  position: relative;    
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 25vh;
}   

.mundo-content img {
  margin-top: -900px; 
}

.mundo-bg,
.gradiente{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  object-fit: cover;
}

.gradiente{
  z-index: 2;
  pointer-events: none; 
}

.mundo-content {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  padding-top: 20vh;
}

.home-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh; 
  background: linear-gradient(to top, black 0%, transparent 100%);
  z-index: 2; 
  pointer-events: none;
}

.mundo-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh; 
  background: linear-gradient(to top, black 0%, transparent 100%);
  z-index: 2; 
  pointer-events: none;
}
