@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cormorant Garamond', serif;   
    line-height: 50px;
    background-image: url(/public/assets/img/mapaGuerra2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mapaImperio {
    width: 100%;
    transition: 1s;
    height: auto;
    display: block;
}

.mapaImperio:hover {
    transform: scale(1.10);
    box-shadow: 0 0 12px rgba(126, 0, 0, 0.5);
}
