@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
    background-color: black;
}

a {
    font-size: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: transform 0.3s, opacity 0.3s;

}

h1 {
    font-size: 60px;
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
}

/* home do header / navbar */
.logo {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 9vh;
    padding: 0 50px;
    border-bottom: solid 0.5px #ffffffaf;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-action {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-img {
    width: 65px;
    height: auto;
}

.nav-list li:last-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    align-self: center;
    height: 40px;
    font-size: 20px;
    font-family: Cormorant Garamond;
    background-color: rgb(51, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.3s;
    border: none;
}

.nav-button:hover {
    transform: scale(1.05);
    background-color: rgb(66, 6, 6);
    
    box-shadow: 0 0 12px rgba(126, 0, 0, 0.5);
}

/* fim navbar */

/* facções */
.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 9vh);
    position: relative;
}

.lado {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(206, 206, 206);
    font-size: 2.5em;
    transition: 0.1s;
    user-select: none;
    font-weight: bold;
    border-radius: 5px;
}

.imperio {
    background: #6b0101;
    transition: 1s;
    color: rgb(223, 134, 0)
}

.storm {
    background: #003688;
    transition: 1s;
    color: rgb(145, 198, 248);
}

.storm img {
    transition: 2s;
}

.imperio img {
    transition: 2s;
}
.imperio:hover {
    font-size: 50px;
    transition: 2s;
    background-color: #be2f2f;
    color: rgb(0, 0, 0);
}

.storm:hover {
    font-size: 50px;
    transition: 2s;
    background-color: #315b9b;
    color: rgb(255, 255, 255)

}
.storm:hover img {
    transition: 2s;
    width: 90px;
}

.imperio:hover img {
    transition: 2s;
    width: 90px;
}


.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(to top, rgba(0, 0, 0, 0.863) 0%, transparent 20%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.795) 0%, transparent 50%),
        linear-gradient(to left, rgba(0, 0, 0, 0.644) 0%, transparent 200px),
        linear-gradient(to right, rgba(0, 0, 0, 0.637) 0%, transparent 200px);
    z-index: 0 ;
    pointer-events: none;
}
