@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
    line-height: 50px;
}

a {
    font-size: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: transform 0.3s, opacity 0.3s;

}

/* Footer */

footer {
    background-color: #130500;
    color: white;
}

.facecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.facecard img {
    width: 200px;
}

.facecard h1 {
    font-size: 2em;
}

.facecard p {
    font-size: 1.2em;
    width: 450px;
    text-align: center;
    margin-bottom: 40px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.redes-sociais img {
    width: 60px;
}

#copyright {
    display: flex;
    margin: 0;
    padding: 60px 0 20px 0;
    justify-content: center;
    align-items: center;
}

/* Fim footer */

/* home do header / navbar */
.logo {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo a:hover {
    opacity: 0.8;
    transform: scale(1.10);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 9vh;
    padding: 0 50px;
    border-bottom: solid 0.5px #ffffffaf;
}

.nav-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    align-self: center;
    height: 40px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 25px;
    letter-spacing: 3px;
}

.nav-list a:hover {
    opacity: 0.8;
    transform: scale(1.10);
    text-shadow: 0 0 12px white;
    font-weight: bold;
}

.nav-action {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-img {
    width: 65px;
    height: auto;
}

.nav-list li:last-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-button {
    font-size: 20px;
    font-family: Cormorant Garamond;
    background-color: rgb(51, 0, 0);
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    border-radius: 10px;
    transition: 0.3s;
    border: none;
}

.nav-button:hover {
    transform: scale(1.05);
    background-color: rgb(66, 6, 6);

    box-shadow: 0 0 12px rgba(126, 0, 0, 0.5);
}

/* fim navbar */

main {
    background-color: black;
}

.home-section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.home-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding-top: 25vh;
}

.home-content img {
    width: 600px;
    margin-top: -150px;
}

/*seção mundo */
.mundo-content {
    position: relative;
    z-index: 3;
    color: white;
    text-align: center;
    padding-top: 20vh;
}

.mundo-section {
    position: relative;
    min-height: 100vh;
    overflow: visible;
}

.mundo-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mundo-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding-top: 25vh;
}

.home-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:
        linear-gradient(to top, black 0%, transparent 100%),
        linear-gradient(to bottom, black 0%, transparent 50%);
    z-index: 1;
}

.mundo-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(to top, black 0%, transparent 70%),
        linear-gradient(to bottom, black 0%, transparent 70%);
    z-index: 1;
}

.mundo-content p {
    text-shadow: 0 0 3px black;
}

.mundo-texto {
    background-color: black;
    color: white;
    padding: 150px 80px;
    text-align: left;
}

/* carrossel */
.carrossel {
    position: relative;
    /*background-image: url(/public/assets/img/skyrimIcon.png);*/
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: 40%;
    color: white;
    text-align: center;
    overflow: hidden;
    padding: 60px 50px;

}



.carrossel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 60%;
    max-height: 800px;
    object-fit: cover;
    border-radius: 10px;
}

.slide p {
    font-size: 28px;
    margin-top: 20px;
    text-shadow: 0 0 5px black;
}

/* Botões */
.prev,
.next {
    position: absolute;
    top: 35%;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 40px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.prev:hover,
.next:hover {
    transform: scale(1.2);
}

.prev {
    left: 50px;
}

.next {
    right: 50px;
}

.carrossel hr {
    display: flex;
    width: 1000px;
    justify-self: center;

}

/* fim do mundo kkkkkkkkkkkkkk */

.guerra-section {
    background: black;
    width: 100%;
    color: white;
    text-align: center;
    padding: 40px 0;

}

.guerra-section hr {
    width: 60px;
    margin: 50px auto;
    border: 1px solid white;
}


.titulo {
    font-size: 80px;
    margin-bottom: 30px;
}

.confronto {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 40px;
    margin-bottom: 50px;
    position: relative;
}


.confronto img {
    display: flex;
    width: 100px;
    height: auto;
    position: relative;
    justify-content: space-around;
}

.confronto-img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.confronto-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.confronto-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:
        linear-gradient(to top, black 0%, transparent 40%),
        linear-gradient(to bottom, black 0%, transparent 40%);
    z-index: 1;
}

.confronto-img2 {
    margin-top: 100px;
    position: relative; 
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}

.confronto-img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.confronto-img2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black 0%, transparent 40%);
    z-index: 2;
}
/*
.dragonborn-content {
    position: relative;
    color: #0F0701;
    text-align: center;
    z-index: 1;
}

.dragonborn-section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.dragonborn-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dragonborn-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(to bottom, black 0%, transparent 40%);
    z-index: 1;
}
*/
.dragonborn-section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: black;
}

.dragonborn-section p {
    text-shadow: 0 0 2px black;
}

.dragonborn-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.dragonborn-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, black 0%, transparent 20%);
    z-index: 1;
}

.dragonborn-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #0F0701;
}

.dragonborn-content p {
  font-weight: 500;
}

.dragonimg {
    display: flex;
    z-index: 0;
    margin-top: -70px;
}

.darkbimg {
    width: 280px;
    display: flex;
    justify-content: start;
    margin-top: 200px;
    margin-left: 200px;

}

.compimg {
    margin-top: 280px;
    width: 230px;
    display: flex;
    justify-self: right;
    margin-right: 200px;
}

.winterimg {
    width: 400px;
    display: flex;
    justify-self: right;
    margin-right: 100px;
    margin-top: -390px;
}

.bold {
    font-weight: bold;
}

