@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
}

a {
    font-size: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: transform 0.3s, opacity 0.3s;

}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    text-align: center;
}

/* home do header / navbar */
.logo {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 9vh;
    padding: 0 50px;
    border-bottom: solid 0.5px #ffffffaf;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-action {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-img {
    width: 65px;
    height: auto;
}

.nav-list li:last-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    align-self: center;
    height: 40px;
    font-size: 20px;
    font-family: Cormorant Garamond;
    background-color: rgb(51, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.3s;
    border: none;
}

.nav-button:hover {
    transform: scale(1.05);
    background-color: rgb(66, 6, 6);

    box-shadow: 0 0 12px rgba(126, 0, 0, 0.5);
}

/* fim navbar */
/* Footer */

footer {
    background-color: #130500;
    color: white;
}

.facecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.facecard img {
    width: 200px;
}

.facecard h1 {
    font-size: 2em;
}

.facecard p {
    font-size: 1.2em;
    width: 450px;
    text-align: center;
    margin-bottom: 40px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.redes-sociais img {
    width: 60px;
}

#copyright {
    display: flex;
    margin: 0;
    padding: 60px 0 20px 0;
    justify-content: center;
    align-items: center;
}

/* Fim footer */

.container {
    width: 100%;
    min-height: calc(100vh - 9vh); 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/login/fundo4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(42, 37, 32, 0.95);
    padding: 30px 40px;
    border: 2px solid #c0a46b;
    border-radius: 12px;
    box-shadow: 0 0 25px #000;
    max-width: 400px;
    width: 90%;
    text-align: center;
    color: #f2e9d0;
    font-size: 18px;
}

.formulario h2 {
    margin-bottom: 25px;
    font-size: 32px;
}

.campo {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.campo span {
    margin-bottom: 5px;
}

.campo input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #000;
}

.campo input:focus {
    border-color: #d9b46a;
    background-color: #cfad6d9f;
    color: black;
}

.botao {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    background-color: rgb(51, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.botao:hover {
    background-color: rgb(66, 6, 6);
    box-shadow: 0 0 12px rgba(126, 0, 0, 0.5);
    transform: scale(1.05);
}

.alerta_erro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.card_erro {
  background: #2a2520;
  padding: 25px 35px;
  border: 2px solid #c0a46b;
  border-radius: 10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  color: #f2e9d0;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 20px #000;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background: #1e1e1e;
    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
    color: white;
    border: 2px solid #c9a45c;
}

.popup-content button {
    margin-top: 15px;
    padding: 8px 20px;
    border: none;
    background: #c9a45c;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.popup-content button:hover {
    background: #e2c078;
}
